.filter {
  cursor: pointer;
  filter: invert(1);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px inset #959090;
  width: 40px;
  height: 40px;

}

.filter-img{
width: 40px;
}